<!doctype html>
<html>
<head>
  <title>FERN</title>
  <style>
    h1 {
      font-family: Roboto;
      text-align: center
    }
    h2 {
      text-align: center
    }
    p {
      text-align: center
    }
    #box {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id = "box">
  <h1>FERN LOL</h1>
  <h2>INSTRUCTIONS:</h2>
  <p>blah blah blah</p>
  <h2>INFORMATION:</h2>
  <p>Teacher: </p>
  <h2>AVAILABLE DATES:</h2>
  <p>
  {% for date in dates %}
    {% include 'dateentry.html' %}
  {% endfor %}
  </p>
  </div>

<!--can also just <div style="text-align: center;"> or something-->
<!--or class="body" within tag then .body {} when defining style for text with that class-->
<!--{% if 'date' in date %}-->
<!--{% endif %}-->
</body>

</html>